<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    Name: {{favoriteThing.name}}
    <p>Description: {{favoriteThing.description}}</p>
  </div>
  <p><a href="/favoriteThing/{{favoriteThing._id}}/edit">Edit</a></p>
<p><form method="POST" action="/favoriteThing/{{favoriteThing._id}}?_method=DELETE">
    <br>
    <button class="btn btn-primary" type="submit">Delete</button>
</form></p>
</div>
