<br>
<h1>Everyone's Favorite Things</h1>
<br>
<div class="row">
    {{#each favoriteThing}}
        <div class="col-md-4 mt-4">
            <div class="card" style="width: 18rem; height: 40rem;">
              <div class="card-body">
                <h5 class="card-title">
                    <a href="/favoriteThing/{{this._id}}">{{this.name}}</a>
                </h5>
                <p class="card-text">{{this.description}}</p>
              </div>
            </div>
            <br>
        </div>
    {{/each}}
</div>
